body {font-family: "Helvetica Neue", sans-serif; font-weight: 300;}

.frozen-banner-holder {position: fixed; top:0; left: 0; width: 100%; text-align: center;
                        background-color: #aaa;
                        z-index: 1000;
}
.frozen-banner {margin: 15px auto;}

th.current-standing {text-align: center; font-weight: 300;}

.adminlink {text-decoration: none; }

.house-points-history th, .spirit-points-history th {font-weight: 200; }
.house-points-history th:first-child , .spirit-points-history th:first-child {background-color: #aaa}
.house-points-history td , .spirit-points-history td {text-align: center;}

.house-points-history-frozen h3 {
    font-weight: 200;
    text-align: center;
    padding-top: 25px;
}

.points-history-title{
    font-weight: 300;
    clear: both;
}

table {border-collapse: collapse;}

table.house-points-history tbody tr, table.spirit-points-history tbody tr{height: 35px;}

table.house-points-history thead tr, table.spirit-points-history thead tr{height: 28px;}

table tfoot {border-top: solid 1px black;}